@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.sidebar{
    user-select: none;
    position: fixed;
    width: 330px;
    height: 100%;
    background: #1b1b1b;
    transform: translateY(0px);
}
.sidebar .login{
    color: cyan;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    letter-spacing: 1px;
    height: 325px;
}
.sidebar .login a{
    text-decoration: none;
}

.sidebar .login a:hover{
    color: rgb(105,105,105);
}
.fa-user-circle{
    background: transparent;
    font-size: 250px;
    cursor: pointer;
    color: cyan;

}
.fa-user-circle:hover{
    color: rgb(105, 105, 105);
}

.sidebar .login h3{
    color: cyan;
}
nav ul{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
    letter-spacing: 0.05rem;
}

.sidebar ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.sidebar ul li .buttons-sidebar{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    transform: 0.5s;
    border-left: 10px solid transparent;
}

.sidebar ul li .buttons-sidebar:hover {
    color: rgb(54, 190, 190);
    background: #242424;
    border-left-color: cyan;
}

.sidebar ul ul{
    position: static;
}
.sidebar ul ul li{
    line-height: 42px;
    border-bottom: none;
}

.sidebar ul ul li .buttons-sidebar{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}

.sidebar ul li .buttons-sidebar span{
    position: absolute;
    top: 50%;
    right: 20px;
    transition: 0.5s;
    background: transparent;
}

.sidebar .login img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.sidebar .login .loding{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.sidebar .login .loding-sidebar{
    margin-top: 50%;
    transform: translateY(-50%);
}