.header-home{
    width: 100%;
    height: 125px;/*125*/
    background: #1e1e1e;
}

.container-buttons{
    height: 80px;
    display: flex;
    justify-content: center;
}
.btn{
    width: 200px;
    background: transparent;
    color: white;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 15px 30px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-left: 10px solid transparent;
}

.btn:hover{
    color: rgb(54, 190, 190);
    background: #242424;
    border-left-color: cyan;
    -webkit-transition:  all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-active{
    text-shadow: 0 0 8px cyan;

}

.btn-deactivate{
    color: rgb(49,49,49);
}