.content-movie{
    height: 350px;
    width: 230px;
    position: relative;
    overflow: initial;
}

.img-content{
    height: 350px;
    width: 230px;
    border-radius: 3%;
    transition: 0.5s;
    
}
.title{
    width: 230px;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 1;
    text-align: center;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.5s;
    color: rgb(233, 233, 233);
    background: transparent;
}


.link:hover .img-content{
    box-shadow: 0 0 8px 8px rgb(138, 137, 137);
    transform: translateY(-12px);
    opacity: 0.5;
}

.link:hover .content-movie{
    transform: translateY(-12px);
}

.link:hover .title
{
    width: 230px;
    height: 50%;
    opacity: 1;
    transform: translateX(-50%);
    top: -12px;
    transition: 0.3;
}
.container-actions{
    margin-bottom: 1px;
    transition: all 0.3s;
    background: transparent;
}
.container-actions ul{
    opacity: 1;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    margin-left: 50%;
    margin-top: 50%;
    transform: translateX(-50%);
    background: transparent;
    width: 98%;
    height: 8%;
    margin-top: 133%;
    background: rgba(0,0,0,0.5);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
.container-actions ul li 
{
    font-size: 1px;
    justify-content: space-between;
    border-radius: 50%;
    background: transparent;
}

.container-actions ul li i 
{
    font-size: 0px;
    color: cyan;
    background-color: transparent;
    justify-content: space-between;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
    padding-top: 5px;
}

.link:hover .container-actions ul{
    opacity: 1;
    margin-top: 134%;
    transition: all 0.5s;
    background: transparent;
}

.link{
    background-color: transparent;
}

.container-actions ul li i:hover{
    transition: all 0.5s;
    color: rgb(185, 143, 37);
    transform: translateY(-3px);
}
.container-actions ul li .action-validate{
    background-color: transparent;
    color: goldenrod;
}

.logStart{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 75%;
    margin-left: 62%;
    margin-top: -35%;
    z-index: 1;
    border-radius: 10px;
    background: rgba(24, 0, 241, 0.8);
}
.logStart i{
    font-size: 18px;
    margin: 0;
    padding: 3px;
    background-color: transparent;
}

.fa-star{
    color: goldenrod
}

span{
    background: transparent;
}
.fa-times-circle{
    font-size: 5px;
    color: rgb(197, 197, 197);
    cursor: pointer;
}

.fa-times-circle:hover{
    color: red
}